:root{
    --bg-color: #212b31;
    --nav-color: #36454f;
    --p-color: #f1f3f5;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    background-color: var(--nav-color);
    color: var(--p-color);
    align-items: center;
    justify-content: space-around;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style: none;
}
.nav-bar ul li{
    text-decoration: underline;
    cursor: pointer;
}

a{
    color: var(--p-color);
}

.calendar-wrapper{
    width: 90%;
    color: var(--p-color);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}