:root{
    --bg-color: #212b31;
    --nav-color: #36454f;
    --p-color: #f1f3f5;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar{
    position: relative;
    top: 0;
    display: flex;
    width: 100%;
    background-color: var(--nav-color);
    color: var(--p-color);
    align-items: center;
    justify-content: space-around;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style: none;
}
.nav-bar ul li{
    text-decoration: underline;
    cursor: pointer;
}

.image-slider-wrapper{
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 75%;
    height: auto;
}
.image-slider{
    position: relative;
    display: flex;
    transition: 0.5s;
}
.image-slider-img{
    width: 100%;
}
.image-indicator{
    margin: 5px;
    position: relative;
    display: flex;
    left: 50%;
    width: 3rem;
    justify-content: space-around;
    transform: translateX(-50%);
}
.image-indicator-div{
    background-color: #f1f3f5;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: 2px solid #f1f3f5;
}
.active{
    /*background-color: #1e90ff;*/
    background-color: #36454f;
}

a{
    color: var(--p-color);
}


.fc-day-grid-event {
    pointer-events: none;
  }


.infoTextWrapper {
    color: #f1f3f5;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.infoTextWrapper h2{
    width: 100%;
    text-align: center;
}
.infoTextWrapper div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
