.calendar-wrapper{
    width: 90%;
    color: var(--p-color);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.popUpWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 106vh;
    overflow: hidden;
    z-index: 20;
}
.popupDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
}

.popupDiv input{

}


@media (max-width: 767.98px) {
    .fc .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        display: block;
    }
}
